
{% extends 'base.html' %}

{% block title %}
    Task List
{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">لیست وظایف</h2>
    <div class="container">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>عنوان</th>
                    <th>توضیحات</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ forloop.counter }}</td>  <!-- شماره‌دهی خودکار -->
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td class="{% if task.status == 'انجام شده' %}text-success{% else %}text-dager{% endif %}">{{ task.status }}</td>
                    <td>
                        <a href="{% url 'task_edit' task.id %}" class="btn btn-warning">ویرایش</a>
                        <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">حذف</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'create_task' %}" class="btn btn-secondary mt-3">ایجاد وظایف</a>
{% endblock %}
